:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}

/* andriod layout */

.navbar{
  background-color: #333232;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .nav-img{
  width: 15%;
  height: 30px;
  margin: 10px  0 10px 10px;
  background-image: url(./nav-img/NACOSS_site-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  line-height: 50px;
}
.navbar .nav-title{
  font-size: 10px;
  color: #20974e;
  line-height: 50px;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  font-weight: 400;
  font-family: Helvetica;
}

/* ReqDetails */
.DisRequest{
  width: 100%;
  height: 40vh;
  background-image: url(https://www.avanse.com/blogs/images/Planning-to-study-abroad.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
form label{
  margin: 15px 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: Helvetica;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px #111;
}
form select{
  margin: 10px 0 10px 0;
  padding: 0 3px;
  width: 33%;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #111;
  background-color: #c4bebe93;
}
form input{
  width: 24%;
  height: 24px;
  padding: 0 3px;
  margin: 10px 0 10px 0;
  outline: none;
  box-shadow: 1px 1px 2px #111;
  background-color: #c4bebe8f;
  border: 0 solid;
  border-radius: 2px;
}

.ReqForm{
  margin: 0 3%;
/*   box-shadow: 1px 1px 4px #111; */
}
.ReqForm form{
  position: relative;
  width: 80%;
  margin: 10% auto;
  padding: 0 5px;
}
.ReqForm form button{
  margin: 0 20%;
}

/* display content */

.display-content{
  width: 100%;
}

/* disDocument */
.disDocument{
  width: 100%;
  height: 100vh;
  background-color: #070606de;
}
.disDoc img{
  width: 80%;
  margin: 10% 9%;
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
  font-family: Helvetica;
  letter-spacing: 1px;
}
.disDoc button{
  margin: 0 35%;
}
.disDoc p{
  color: #ff0000;
  font-size: 14px;
  font-weight: 600;
  font-family: Helvetica;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
}

/* home */
.home{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* button */
button{
  padding: 6px 10px;
  background-color: rgb(17, 122, 17);
  color: #ffff;
  font-family: Helvetica;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

/* desktop / tab layout */
@media screen and (min-width:600px){

  .DisRequest{
    width: 50%;
    height: 100vh;
  }

  .disDocument{
    width: 50%;
    height: 100vh;
  }

  .disDoc img{
    width: 60%;
    height: 80vh;
    margin: 5% 20%;
  }

  .ReqForm{
    margin: 0 3%;
  }
  .ReqForm form{
    margin: 30% auto;
  }
}