:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* default */
*{
  margin: 0;
  padding: 0;
  color: #fa0909;
  font-family: Helvetica;
  text-transform: capitalize;
  font-size: 13px;
  text-decoration: none;
}

/* NavBar */
.navBar{
  width: 100%;
  height: 40px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navBar h1{
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-left: 10px;
}
.navBar .page_logo{
  width: 55px;
  height: 35px;
  line-height: 50px;
  margin-top: 2px;
  background-image: url("https://png.pngtree.com/png-clipart/20210411/original/pngtree-blue-pentagle-light-effect-movie-light-box-png-image_6222271.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* home container */
.homeContent{
  width: 100%;
  background-color: #134B70;
  padding: 5px 0 0 0;
}
.homeContent .search-sec{
  width: 95%;
  height: 7vh;
  margin: auto;
  background-color: #201E43;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px 4px;
}
.search-sec input{
  width: 60%;
  height: 20px;
  outline: none;
  padding: 0 5px;
}
.search-sec button{
  width: 30%;
  padding: 4px 0;
  border-radius: 6px;
  border: none;
}
.search-sec button:hover{
  background-color: rgb(228, 141, 35);
  color: #fff;
}
.search-sec h1{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin-left: 5px;
}

/* movie list */

.homeContent .movie-sec{
  width: 95%;
  background-color: #201E43;
  margin: 5px auto;
}
.movieList{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.movieList h2{
  text-align: center;
}
.movieList a .movieDisplay{
  margin: 10px;
  flex-basis: 150px;
  height: 240px;
  border-radius: 5px;
}
a .movieDisplay img:hover{
  height: 175px;
  width: 82%;
}
a .movieDisplay img{
  width: 80%;
  height: 170px;
  margin: 8px 13px;
}

/* movie discription */
.content{
  width: 100%;
  height: 100vh;
  background-color: #134B70;
}
.content .movieDes{
  position: relative;
  width: 90%;
  margin: auto;
  background-color: #201E43;
}
.movieDes .movies .details{
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 5px;
}
.movies .details img{
  width: 50%;
  margin-right: 10px;
  border-radius: 10px;
}
.details div h2, h3{
  text-align: center;
}
.details div p{
  text-align: justify;
  margin: 5px 0;
}
.button a{
  width: 100%;
  padding: 0 5%;
}
.button a button{
  width: 90%;
  padding: 10px 0;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 1px 2px #000;
}

/* booking ticket */
.booking-content{
  position: fixed;
  top: 40px;
  width: 100%;
  height: 100vh;
  background-color: #134B70;
}
.booking-content .bookingSystem{
  width: 50%;
  height: 54vh;
  background-color: #201E43;
  padding: 10px;
  margin: 30vh auto;
  border-radius: 10px;
  box-shadow: 1px 2px 7px #333;
}
.bookingSystem h2{
  text-align: center;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.bookingSystem p{
  text-align: left;
  margin: 10px 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.bookingSystem .alert{
  text-align: left;
  margin: 10px 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #000;
}
.bookingSystem label{
  margin: 4px 0 4px 10px;
  font-size: 14px;
  font-weight: bold;
}
.bookingSystem input{
  width: 87%;
  height: 27px;
  margin: 4px auto;
  padding: 0 0 0 9px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 2px 1px 1px #000;
  text-transform: none;
}
.bookingSystem button{
  width: 60%;
  padding: 8px 0;
  margin: 15px 18%;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 2px 1px 1px #000;
  color: #000;
  background-color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width:600px){
  .movies .details img{
    width: 30%;
    margin:  0 20px;
    border-radius: 10px;
  }
  .homeContent .search-sec{
    width: 95%;
    height: 5vh;
  }
}